/*Global styles*/
html {
    scroll-behavior: smooth;
}
.page-section{
    padding:8rem 0;
}
.page-section > title{
    font-weight: bold;
}
.footer{
    background: #e25b4b;
}
.footer > p{
    color: #ecfdff;
}
/* Navbar Style Section*/

.nav-link{
    color:#bfd1d3;
    transition: 0.2s ease-in all;
}
.nav-link:hover{
    columns: #64778d;
}
.navbar-first{
    background: transparent; 
    transition: 0.3s all ease;
}
.navbar-scroll{
    background: #e25b4b;
    transition: 0.3s all ease;
}
.navbar-scroll > a{
    color: #ecfdff !important;
}

/* Services section */
.service i{
    font-size:3rem;
    color:#e25b4b !important;
}
hr.divider{
  max-width:3.25rem;
  border-width:.2rem;
  border-color:#e25b4b;  
}
#services{
    background: #efefef;
}

/*Portfolio section*/

.portfolio-caption{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height:100%;
    position: absolute;
    bottom:0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: #e25b4b;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.project-category{
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
.project-name{
    font-size: 1.2rem;
}
.portfolio-caption:hover{
    opacity:1;
}